.top-nav-brand a {
  width: auto;
  height: 33px;
  margin-right: 20px;
}

.top-nav-brand img {
  width: 33px;
  height: 33px;
  margin-left: 0.625rem;
  max-width: 100%;
  vertical-align: middle;
}

.top-nav-search {
  background-color: #92e7ff;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  border-style: none;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  font-size: 0.75rem;
  height: 2.25rem;
  width: 100%;
  padding: 0px 15px;
  border-radius: 20px;
  margin-right: 10px;
}

.top-nav-search input {
  width: 100%;
  background-color: transparent;
  border-style: none;
  outline: none;
  color: white;
}

.top-nav-search input::placeholder {
  color: white;
}

.top-nav-search .input-search-icon {
  font-size: 20px;
}
