.donation-history-container {
  margin-bottom: 60px;
}

.donation-history-container .donation-history-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
}

.donation-history-container .donation-history-header .riwayat-donasi {
  font-weight: bold;
  margin: 1.25rem 0px !important;
  font-size: 1rem;
}

.donation-history-container .donation-status {
  text-align: center;
  width: 70px;
  margin: 0.25em;
  font-size: 9px;
  padding: 5px 10px;
  border-radius: 10px;
  border: 0.5px solid #61dafb;
  color: #61dafb;
}
