.list-campaign {
  --tw-bg-opacity: 1;
  background-color: transparent;
  position: relative;
  max-width: 480px;
  width: 100%;
  margin: 0px auto;
  box-sizing: border-box;
  top: 60px;
  padding: 0px 16px 80px;
  min-height: calc(100vh - 60px);
}
