/* .max-w-screen-sm {
  max-width: 480px !important;
} */

.header-info {
  max-width: 1020px;
  margin: 0px auto;
  padding-top: 5px;
}

.header-info h3 {
  margin: 15px 0px 0px;
  font-weight: 600;
  /* font-size: 18px; */
  line-height: 23px;
}

.header-info .button-wrapper {
  padding: 20px 0px;
}

.header-info .button-wrapper button.donate-now {
  display: inline-block;
  border: 0px;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
}
