.header-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0px auto;
  max-width: 480px;
  height: 100%;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  font-size: 1rem;
  font-weight: 600px;
  padding: 0px 1em;
  line-height: 22px;
  -webkit-box-align: center;
  -webkit-box-pack: start;
}

.header-nav.detail-campaign {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0px auto;
  max-width: 480px;
  height: 100%;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  font-size: 1rem;
  font-weight: 600px;
  padding: 0px 1em;
  line-height: 22px;
  -webkit-box-align: center;
  -webkit-box-pack: start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header-nav .btn-back {
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
  margin-right: 1.25rem;
  background-color: transparent;
  border-style: none;
}

.header-nav .btn-back .icon {
  font-size: 20px;
}

.header-nav span {
  flex: 1 1 0%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header-nav span.detail-campaign {
  font-size: 15px;
}
