.campaign-detail .hero-image-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.campaign-detail .hero-image-container img {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 2;
  max-width: 100%;
  width: 100%;
  margin: 0px auto 5px;
  height: 100%;
  vertical-align: middle;
}

.campaign-detail .content-wrapper {
  padding: 0px 16px;
  word-break: break-word;
}

.campaign-detail .content-wrapper h1 {
  color: rgb(240, 238, 238);
  font-weight: 700;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  font-size: 18px;
  line-height: 24px;
}

.campaign-detail .donation {
  margin-bottom: 8px;
}

.campaign-detail .donation .donation-received {
  color: #61dafb;
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
}

.campaign-detail .donation .donation-goal {
  display: inline-block;
  margin-left: 5px;
  font-size: 12px;
  font-weight: 200;
}

.campaign-detail .info {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.campaign-detail .info span {
  font-size: 12px;
  font-weight: 200;
}

.campaign-detail .info span strong {
  font-size: 16px;
}

.campaign-detail .button-container {
  margin: 16px auto 20px 0px;
}

.campaign-detail .button-container .btn-donate-now {
  background-color: rgb(218, 51, 107);
  color: white !important;
  font-weight: 400;
}
