.wallet-amount-container {
  text-align: center;
  padding-top: 16px;
  margin-bottom: 30px;
}

.wallet-amount-container p {
  margin: 6px;
}

.wallet-amount-container span {
  color: rgb(223, 223, 223);
  font-size: 18px;
  margin-right: 6px;
}

.wallet-amount-container span.saldo {
  font-size: 24px;
  font-weight: bold;
}

.wallet-box-container {
  display: flex;
  margin: 16px;
  padding: 16px;
  justify-content: center;
  align-items: center;
}

.wallet-box-container .wrapper {
  text-align: center;
  padding: 10px;
  width: 40%;
  border: 0.5px solid rgb(232, 232, 232);
  border-radius: 6px;
  box-shadow: rgba(59, 59, 59, 0.2) 0px 2px 8px 1px;
  cursor: pointer;
}

.wallet-box-container .wrapper p {
  margin-top: 7px;
}

.wallet-box-container .wrapper .icon {
  font-size: 30px;
}

.notify-container {
  text-align: center;
}

.transaction-history-wrapper {
  width: 100%;
  padding: 16px;
}

.card-wallet-transaction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.card-wallet-transaction .left-section {
  display: flex;
  flex-direction: column;
}

.card-wallet-transaction .left-section .top-section {
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.card-wallet-transaction .left-section .transaction-title {
  font-size: 16px;
  color: white;
}

.card-wallet-transaction .left-section span {
  font-size: 10px;
  color: gray;
}

.card-wallet-transaction .right-section span {
  color: rgb(18, 197, 57);
}
