.not-found {
  padding: 1em;
  text-align: center;
}

.not-found .not-found-iamge-container {
  margin: 0px 2em;
  padding: 20px 0px 0px 0px;
}

.not-found .not-found-iamge-container img {
  height: 120px;
  width: 170px;
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}

.not-found h3 {
  font-weight: 500;
  display: block;
  font-size: 1.17em;
  margin-block: 1em;
  margin-inline: 0px;
}

.not-found p {
  line-height: 1.5;
  color: rgb(152, 152, 152);
}

.not-found .btn {
  color: #61dafb !important;
}

.not-found .btn:hover {
  color: white !important;
}
